<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673626994036-kpi432cb5a43c5pninm6ttmpsoidqine.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673626994036-kpi432cb5a43c5pninm6ttmpsoidqine</string>
	<key>API_KEY</key>
	<string>AIzaSyC0GM0X85hVmEXSoAY-UZOz89lHIXdh_3o</string>
	<key>GCM_SENDER_ID</key>
	<string>673626994036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>application.Project-CV</string>
	<key>PROJECT_ID</key>
	<string>swiftui-firebase-chat-168dd</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-firebase-chat-168dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673626994036:ios:ac6aae8b1416bb383ba821</string>
</dict>
</plist>